---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { Hero } from '../components/Home/Hero';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<!-- <script type="text/javascript" src="/circletype.min.js" /> -->
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Hero client:load />
			<div class="intro-text relative my-96 w-full italic">
				<img class="blackstar-eyes" src="/creatives/blackstar-eyes.svg" />
				<p class="mx-auto">
					"The idea that the piece of work is not finished until the audience come to it and add their own interpretation and what the piece of art is about is the grey space in the middle. That grey space in the middle is what the 21st century is going to be about."
					<span class="quote-credit block mt-4 text-base not-italic">- David Bowie on art & the internet in 1999</span>
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
	.intro-text {
		font-size: 2.6rem;

		.blackstar-eyes {
			opacity: 0.15;
		}

		p {
			max-width: 80vw;
		}

		.blackstar-eyes {
			position: absolute;
			top: -15vh;
		}
	}
</style>