<div class="projects-wrap mt-60">
  <h2 class="mb-4">Some Products I've Worked On:</h2>

  <div class="menu" id="fancy-menu">
    <div class="menu__item">Mamaearth</div>
    <div class="menu__item">Clarifai</div>
    <div class="menu__item">Spotnana</div>
    <div class="menu__item"></div>
  </div>
</div>

<style>
  .projects-wrap {
    display: flex;
    flex-direction: column;
    height: 60vh;
    position: relative;
    justify-content: center;
  }

  .menu__item {
    cursor: default;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 -1px #444;
  }

  .menu__item {
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }

  .menu__item {
    font-family: DisplayFont, serif;
    white-space: nowrap;
    font-size: 5vw;
    line-height: 1.2;
    font-weight: 600;
    padding: 1vh 1vw 0;
    text-transform: uppercase;
  }
</style>
